<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "sourcePdfFolder" value="d:\WK\Data\PdfCompression\Source\"/>
    <add key = "destinationPdfFolder" value="d:\WK\Data\PdfCompression\Destination\"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="defaultTraceSource" switchValue="All">
        <listeners>
          <add name="logFileTraceListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListener" traceOutputOptions="None" />
      <add type="System.Diagnostics.TextWriterTraceListener" name="logFileTraceListener" initializeData="PdfCompressor.log" traceOutputOptions="DateTime">
        <!--Use a filter so that log file excludes low-level debugging messages-->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
    </sharedListeners>
    <switches>
      <!-- Use this switch to output all log messages -->
      <add name="allTraceLevel" value="All" />
      <!-- Use this switch to output low-level debugging, informational, warning, and error messages -->
      <add name="verboseTraceLevel" value="Verbose" />
      <!-- Use this switch to output informational, warning, and error messages -->
      <add name="infoTraceLevel" value="Info" />
      <!-- Use this switch to output warning and error messages -->
      <add name="warningTraceLevel" value="Warning" />
      <!-- Use this switch to output error messages -->
      <add name="errorTraceLevel" value="Error" />
      <!-- Use this switch to output no tracing messages -->
      <add name="offTraceLevel" value="Off" />
    </switches>
  </system.diagnostics>
</configuration>
